.nav-container {
    position: fixed;
    z-index: 225;
    height: 95px;
    width: 100%;
    background-color: white;
    // border-bottom: 1px solid;
    box-shadow: $shadow;

    .nav {
        @include container;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 10px;
            
            h3 {
                margin-left: 10px;
                font-size: 1rem;
                font-weight: 700;
                text-transform: uppercase;
            }
        }

        .download {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-right: 15px;
            // border: 1px solid;
            &:hover {
                cursor: pointer;
                // border: 1px solid;
            }
        }
    }
}